body {
    margin: 0;
    padding: 0;
    background-color: rgb(29, 28, 28) !important;
}

.row {
    --bs-gutter-x: 0 !important;

}

.div {
    background-color: rgb(82, 80, 80);
    border-radius: 7px;
    height: 220px;
}

.c-div {
    height: 200px;
}

.col-md-3 {
    width: 24% !important;
}

.circle {

    border-radius: 50% !important;
    height: 100px !important;
    width: 100px;
    background-color: white;
}

.profile img {

    background-repeat: no-repeat !important;
    background-size: cover;
}

.name {
    position: relative;
    left: 20px;
    bottom: 10px;
}

.name span {
    color: white;
}

.name span>span {
    position: relative;
    right: -40%;
    background-color: rgb(51, 51, 51);
    padding: 5px 10px;
    border-radius: 10px;
}

.footer-item {

    height: 45px;
    color: white;
    font-size: 18px;
    font-weight: 500;

}

.time {

    border-color: white;
    border-right: 2px solid;

}

.icon {
    width: 100%;
    height: 100%;
}
.icon  a{
    color: white;
}

.i {
    background-color: rgba(175, 172, 172, 0.671);
    height: 40px;
    width: 40px;
    border: 1px solid;
    border-radius: 50%;
}

#microphone,
#video,
#phone {
    background-color: rgb(255, 0, 0, 0.8);
}


.last {
    font-size: 25px !important;
}

@media (max-width:768px) {
    .col-sm-4 {
        width: 32.33333% !important;
    }


    .div:nth-child(6),
    .div:nth-child(7) {
        display: none;
    }

    .footer-item .col-1:nth-child(3),
    .footer-item .col-1:nth-child(4),
    .footer-item .col-1:nth-child(7) {
        display: none;
    }
}

@media (max-width:576px) {
    .col-6 {
        width: 49% !important;
    }

    .div {
        display: none !important;

    }

    .div:nth-child(1),
    .div:nth-child(2),
    .div:nth-child(3),
    .div:nth-child(8) {
        display: block !important;
    }
}